*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
main{
display:flex;
justify-content:center;
flex-direction: row;
margin-top: 200px;
margin-left: 20px;
}
.container h1{
    font-family: 'Courier New', Courier, monospace;
    padding-bottom:20px;
    padding-left:85px;
    font-size: 40px;

}

.container #value{
    margin-left: 160px;
    padding-top:30px;
    font-size:40px;

}
 .button-container{
     padding-top:30px;
 }
#btndecrease{
     width:120px;
     font-size: 20px;
     margin-right:15px;
     border-radius: 5px;
     
 }
 #btnincrease{
    width:120px;
    font-size: 20px;
    margin-right:15px;
    border-radius: 5px;
 
 }
 #btnreset{
     width:80px;
     font-size: 20px;
     margin-right:15px;
     border-radius: 5px;
 }